.error-bg {
	background: #983841;
}
.success-bg {
	background: #155724;
}

.info-bg {
	background: #0c5460;
}
.warning-bg {
	background: #fff3cd;
}

.h-shadow:hover {
	box-shadow: 3px -3px 12px rgba(33, 33, 33, 0.7);
  }

  .blur-black {
	background-color: rgba(33, 33, 33, 0.5);
  }