// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Sizes
@import 'sizes';

// background-images
@import 'background-images';


// backgrounds
@import 'backgrounds';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";
@import "vue-select/src/scss/vue-select.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";


.white {
    color: white;
}
.overflow-y-auto{
	overflow-y: auto;
}
.overflow-y-hidden{
	overflow-y: hidden;
}
.hide-scroll-bar {
    -ms-overflow-style: none!important;  /* Internet Explorer 10+ */
    scrollbar-width: none!important;  /* Firefox */
}
.hide-scroll-bar::-webkit-scrollbar { 
    display: none!important;  /* Safari and Chrome */
}
.mvh-100 {
    min-height:100vh;
}

.uk-notification-message {
	background: #f8f8f800!important;
	width: fit-content!important;
	left: 50%;
    transform: translate(-50%, 0);
}

.p-pointer {
	cursor: pointer!important;
}

.p-pointer:hover {
	cursor: pointer!important;
}

.img-cover{
    object-fit: cover!important;
}

.white-placeholder >
::-webkit-input-placeholder {
  color: white !important;
}

.white-placeholder >
:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
}

.white-placeholder >
::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
}

.white-placeholder >
:-ms-input-placeholder {
  color: white !important;
}
